<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">

        <div class="page-body">
          <div class="row">
            <div *ngFor="let sensor of sensors" class="col-md-6 col-xl-3" >
              <app-sensor (click)="onCardClick(sensor.sensorId)" [sensor]="sensor" ></app-sensor>
            </div>
            <!-- Statestics Start -->
          </div>
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="card">
                <div class="card-header">
                  <h5>Statestics</h5>
                  <div class="card-header-left ">
                  </div>
                  <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                      <li><i class="icofont icofont-simple-left "></i></li>
                      <li><i class="icofont icofont-maximize full-card"></i></li>
                      <li><i class="icofont icofont-minus minimize-card"></i></li>
                      <li><i class="icofont icofont-refresh reload-card"></i></li>
                      <li><i class="icofont icofont-error close-card"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="card-block">
                  <!--div id="statestics-chart" style="height:517px;"></div-->
<!--                  <app-chart></app-chart>-->
                  <app-chart-test></app-chart-test>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--        <div id="styleSelector">-->

<!--        </div>-->
      </div>
    </div>
  </div>
</div>
