<div class="pcoded-content">
  <div class="pcoded-inner-content">

    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-header card">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="icofont icofont-file-code bg-c-blue"></i>
                <div class="d-inline">
                  <h4>Settings</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
        <!-- Page-header end -->

        <!-- Page body start -->
        <div class="page-body">
          <div class="row">
            <div class="col-sm-12">
              <!-- Basic Form Inputs card start -->
              <div class="card">
                <div class="card-header">


                </div>
                <div class="card-block">
                  <h4 class="sub-title">Choose your preferred notification channel</h4>
                  <form [formGroup]="settingsForm" (submit)="update()">
                    <div class="row m-t-25 text-left">
                      <div class="col-md-4">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input type="checkbox" name="emailCheck" formControlName="emailCheck">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">via Email</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input type="checkbox" name="voiceCheck" formControlName="voiceCheck">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">via Voice Call</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input type="checkbox" name="smsCheck" formControlName="smsCheck">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">via Text Message</span>
                          </label>
                        </div>
                      </div>
                    </div>



                    <div class="row m-t-30">
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect m-b-20">Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
